<section class="section h-auto" style="background: linear-gradient(to right, rgb(106, 17, 211), rgb(0, 0, 0)); ">
    <div class="container ">
        <div class="row">
            <form action="/logout" method="post">
                <div class="col-md-12 d-flex justify-content-end pt-3">
                    <a href=""><button class="btn btn-outline-danger btn-lg px-5" type="submit">Logout</button></a>
                </div>
            </form>
        </div>
        <div class="row">
            {{#each gcard}}
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-3  p-3"> 
                    <div class="card border border-dark bg-black " >
                         <img
                            src="{{this.Image}}"
                            class="card-img-top img-fluid h-75 w-100"
                            alt="..."
                        />
                        <div class="card-body">
                            <h3 class="card-title text-white">{{this.Name}}</h3>
                            <h5 class="card-text text-secondary">{{this.Category}}</h5>
                            <p class="card-text text-light">{{this.Description}}</p>
                            <a href="#" class="btn btn-success">Buy <span>{{this.Price}}</span></a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>